body{
    margin-left: 2%;
    /* line-height: ; */
}

#nam{
    font-weight: bold;
    /* line-height: 0.1px; */
    /* padding: 0.1px; */
}
#nam>span{
    color: red;
}



.name{
    display: flex;
    gap:1%;
    font-size: 12px;
}

.email{
    font-weight: bold;
    line-height: 0.1px;

}
.email span{
    color: red;
}

.email>.mailbox{
    width: 360px;
}

.Experince{
    font-weight: bold;
    /* line-height: 0.1px; */
}
.Experince span{
    color:red;
}


.checked {
    color: orange;
  }
  .rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: ' ★  '; 
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.satisfied{

    font-weight: bold;
    line-height: 20px;
    padding: 0.5%;
    margin-left: -4px ;
    /* gap:40px; */


}
.satisfied span {
    color: red;
}
table tr:nth-child(even) {
    background-color: rgb(238, 237, 237);
}
table{
    width:50%;
    border-spacing: 0;
    font-size: small;
}
th{
    width:165px;
    font-weight: lighter;
    
}

.like{
    font-weight: bold;
    line-height: 20px;

}

.like span{
    color:red;
}

.add{
    font-weight: bold;
    line-height: 0.1px;
    /* padding: 1px; */
}

.submit>input{
    width: 120px;
    height: 50px;
    margin-top: 10px;
}
